@media (max-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(
      to bottom,
      var(--principal-color),
      var(--secondary-color)
    ); */
    /* background-image: linear-gradient(
        45deg,
        transparent 0%,
        transparent 27%,
        #b40a0a0f 27%,
        #d6d6d60f 38%,
        transparent 38%,
        transparent 100%
      ),
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 39%,
        #51453eb2 39%,
        #51453ea2 68%,
        transparent 68%,
        transparent 100%
      ),
      linear-gradient(
        90deg,
        transparent 0%,
        transparent 74%,
        #51453e11 74%,
        #51453e25 79%,
        transparent 79%,
        transparent 100%
      ),
      linear-gradient(90deg, #51453e, #ba8c02); */
  }

  header {
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: aliceblue;
    display: flex;
    /* margin: 0 auto; */
    height: 60px;
    width: 100%;
  }

  /*------------- MENU DESPLEGABLE------------- */
  .items-nav {
    width: 100%;
    /*background: linear-gradient(to right, #51453e 60%, #ba8b02, #51453e);
    */
    background-image: linear-gradient(
        67.5deg,
        rgb(6, 6, 6) 0%,
        rgb(6, 6, 6) 6%,
        rgb(29, 29, 29) 6%,
        rgb(29, 29, 29) 57%,
        rgb(52, 52, 52) 57%,
        rgb(52, 52, 52) 58%,
        rgb(52, 145, 143) 58%,
        rgb(52, 145, 143) 79%,
        rgb(67, 124, 125) 79%,
        rgb(67, 124, 125) 93%,
        rgb(53, 86, 86) 93%,
        rgb(53, 86, 86) 95%,
        rgb(143, 143, 143) 95%,
        rgb(143, 143, 143) 100%
      ),
      linear-gradient(
        90deg,
        rgb(6, 6, 6) 0%,
        rgb(6, 6, 6) 6%,
        rgb(29, 29, 29) 6%,
        rgb(29, 29, 29) 57%,
        rgb(52, 52, 52) 57%,
        rgb(52, 52, 52) 58%,
        rgb(52, 145, 143) 58%,
        rgb(52, 145, 143) 79%,
        rgb(67, 124, 125) 79%,
        rgb(67, 124, 125) 93%,
        rgb(53, 86, 86) 93%,
        rgb(53, 86, 86) 95%,
        rgb(143, 143, 143) 95%,
        rgb(143, 143, 143) 100%
      ),
      linear-gradient(
        135deg,
        rgb(6, 6, 6) 0%,
        rgb(6, 6, 6) 6%,
        rgb(29, 29, 29) 6%,
        rgb(29, 29, 29) 57%,
        rgb(52, 52, 52) 57%,
        rgb(52, 52, 52) 58%,
        rgb(52, 145, 143) 58%,
        rgb(52, 145, 143) 79%,
        rgb(67, 124, 125) 79%,
        rgb(67, 124, 125) 93%,
        rgb(53, 86, 86) 93%,
        rgb(53, 86, 86) 95%,
        rgb(143, 143, 143) 95%,
        rgb(143, 143, 143) 100%
      ),
      linear-gradient(
        0deg,
        rgb(6, 6, 6) 0%,
        rgb(6, 6, 6) 6%,
        rgb(29, 29, 29) 6%,
        rgb(29, 29, 29) 57%,
        rgb(52, 52, 52) 57%,
        rgb(52, 52, 52) 58%,
        rgb(52, 145, 143) 58%,
        rgb(52, 145, 143) 79%,
        rgb(67, 124, 125) 79%,
        rgb(67, 124, 125) 93%,
        rgb(53, 86, 86) 93%,
        rgb(53, 86, 86) 95%,
        rgb(143, 143, 143) 95%,
        rgb(143, 143, 143) 100%
      ),
      linear-gradient(90deg, rgb(70, 154, 154), rgb(221, 221, 221));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    height: calc(100vh-60px);
    position: absolute;
    width: 80%;
    top: 60px;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    display: none;
    gap: 40px;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    z-index: 2;
  }

  .boton-menu {
    display: block;
    /* border: 1px red solid; */
    width: 30px;
    color: wheat;
  }

  #toggle-menu:checked ~ .items-nav {
    display: flex;
  }

  .items-nav {
    /* border: 1px red solid; */
    background-color: red;
  }
  /* ---------OVERLAY------------ */
  .overlay {
    /* background: red; */
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 1;

    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);

    display: none;
  }

  #toggle-menu:checked ~ .overlay {
    display: block;
  }

  main {
    width: 100%;
  }
  h1 {
    font-size: 20px;
    color: aqua;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    padding: 100px 0;
  }
  .hero img {
    max-width: 500px;
  }
  .info-hero h1 {
    font-size: 2rem;
  }

  .info-hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .info-hero p {
    font-size: 14px;
    max-width: 400px;
    /* border: 1px red solid; */
  }
  .more-info {
    font-size: 12px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px;
  }
  .suscribe {
    font-size: 12px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px;
  }

  .info-servicios {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .info-servicios h2 {
    font-size: 1.8rem;
    max-width: 700px;
    color: aliceblue;
  }

  .info-servicios p {
    font-size: 12px;
    max-width: 600px;
  }

  .info-servicios span {
    max-width: 300px;
    font-size: 12px;
    text-align: center;
  }

  .info-servicios button {
    font-size: 12px;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .beneficios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    /* border: 1px red solid; */
    margin: 0 auto;
  }
  .beneficios-cards {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    /* border: 1px red solid; */
    margin: 0 auto;
  }
  .contacto {
    padding: 10px;
  }

  .contacto-container {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    /* border: 1px red solid; */
    margin: 0 auto;
  }

  .contacto-img img {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  header {
    height: 30px;
  }

  .barra_navegacion {
    height: 30px;
    /* border: 1px red solid; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
  }
  .barra_navegacion img {
    height: 20px;
  }
  .logo img {
    width: 25px;
  }
  .barra_navegacion p {
    font-size: 1.5rem;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hero {
    padding: 40px;
    gap: 20px;
  }
  .hero img {
    border: black 6px solid;
  }
  .info-hero p {
    font-size: 12px;
    max-width: 300px;
    /* border: 1px red solid; */
  }
  .info-servicios h2 {
    font-size: 1rem;
    max-width: 600px;
  }
  .items-nav {
    height: calc(100vh-20px);
    top: 30px;
    font-size: 12px;
  }
  .beneficios {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .beneficios-cards {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .contacto-img img {
    max-width: 100%;
  }
}
