@media (max-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(
      to bottom,
      var(--principal-color),
      var(--secondary-color)
    ); */
    background-image: linear-gradient(
        45deg,
        transparent 0%,
        transparent 27%,
        #b40a0a0f 27%,
        #d6d6d60f 38%,
        transparent 38%,
        transparent 100%
      ),
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 39%,
        #51453eb2 39%,
        #51453ea2 68%,
        transparent 68%,
        transparent 100%
      ),
      linear-gradient(
        90deg,
        transparent 0%,
        transparent 74%,
        #51453e11 74%,
        #51453e25 79%,
        transparent 79%,
        transparent 100%
      ),
      linear-gradient(90deg, #51453e, #ba8c02);
  }

  header {
    /* border: red 1px solid; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: aliceblue;
    display: flex;
    height: 60px;
  }

  /*------------- MENU DESPLEGABLE------------- */
  .items-nav {
    width: 100%;
    /*background: linear-gradient(to right, #51453e 60%, #ba8b02, #51453e);
    */
    background-image: linear-gradient(
        68deg,
        transparent 0%,
        transparent 60%,
        rgba(186, 140, 2, 0.36) 60%,
        rgba(186, 140, 2, 0.36) 93%,
        transparent 93%,
        transparent 100%
      ),
      linear-gradient(
        203deg,
        transparent 0%,
        transparent 55%,
        rgba(186, 140, 2, 0.36) 55%,
        rgba(186, 140, 2, 0.36) 84%,
        transparent 84%,
        transparent 100%
      ),
      linear-gradient(
        68deg,
        transparent 0%,
        transparent 80%,
        rgba(186, 140, 2, 0.36) 80%,
        rgba(186, 140, 2, 0.36) 94%,
        transparent 94%,
        transparent 100%
      ),
      linear-gradient(158deg, rgb(81, 69, 62), rgb(81, 69, 62));
    height: calc(100vh-60px);
    position: absolute;
    width: 80%;
    top: 60px;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    display: none;
    gap: 40px;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    z-index: 2;
  }

  .boton-menu {
    display: block;
  }

  #toggle-menu:checked ~ .items-nav {
    display: flex;
  }

  /* ---------OVERLAY------------ */
  .overlay {
    /* background: red; */
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 1;

    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);

    display: none;
  }

  #toggle-menu:checked ~ .overlay {
    display: block;
  }

  h1 {
    font-size: 14px;
    color: aqua;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    padding: 100px 0;
  }
  .hero img {
    max-width: 300px;
  }
  .info-hero h1 {
    font-size: 2rem;
  }

  .info-hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .info-hero p {
    font-size: 14px;
    max-width: 400px;
    /* border: 1px red solid; */
  }
  .more-info {
    font-size: 12px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px;
  }
  .suscribe {
    font-size: 12px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 5px;
  }

  .info-servicios {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .info-servicios h2 {
    font-size: 1.2rem;
    max-width: 700px;
    color: aliceblue;
  }

  .info-servicios p {
    font-size: 12px;
    max-width: 600px;
  }

  .info-servicios span {
    max-width: 300px;
    font-size: 12px;
    text-align: center;
  }

  .info-servicios button {
    font-size: 12px;
    background-color: var(--principal-color);
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (max-width: 576px) {
  header {
    height: 30px;
  }

  .barra_navegacion {
    height: 30px;
    /* border: 1px red solid; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
  }
  .barra_navegacion img {
    height: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hero {
    padding: 40px;
    gap: 20px;
  }
  .hero img {
    border: #ba8c02ad 6px solid;
  }
  .info-hero p {
    font-size: 12px;
    max-width: 300px;
    /* border: 1px red solid; */
  }
  .info-servicios h2 {
    font-size: 1rem;
    max-width: 600px;
  }
  .items-nav {
    height: calc(100vh-20px);
    top: 30px;
    font-size: 12px;
  }
}
